.container {
    margin: 0 auto;
    width: 960px;
    flex-wrap: wrap;
    display: flex;
}

#header {
    flex: 600px;
    background-color: #0073aa;
}

#header h2 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
}

#content {
    flex: 100%;
    min-height: 500px;
    background-color: #e1e1e1;
}

#footer {
    flex: 100%;
    background-color: #23232a;
}

#footer p {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: white;
}