.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.clear-both {
    clear: both;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.clear-both {
    clear: both;
}