.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-center {
    float: center;
}

.text-left {
    text-align: left1;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}